docker-compose.yaml
.cassandra_comments_services_data/
.cassandra_posts_services_data/
.cassandra_posts_services_data_2/
.cassandra_posts_services_data_3/
.cassandra_posts_services_dataa/
.cassandraWorkbench/*
.postgres_users_service_data/tmp/*
dasdasd/tmp/*
users_service/data/tmp/*
.cassandraWorkbench.jsonc